---
import Layout from '../layouts/BlogPost.astro';
import { Image } from "astro:assets";

import HangFireThumbnail from "../content/articles/images/hangfire-thumbnail.png";
---

<Layout 
title="Courses"
description="Here are a collection of courses I've published"
pubDate={new Date('2023-08-31')}
updatedDate={new Date('2023-10-20')}
>
    <section>
        <h2>Building Background Services in .NET with HangFire</h2>
        <Image src={HangFireThumbnail} alt="Hangfire" width="750" height="422" />

        <blockquote>
            This comprehensive course is designed to teach you how to build background services in .NET using HangFire, a powerful open-source library that makes it easy to create and manage background jobs. Throughout the course, you'll learn from Kevin Griffin, a Microsoft MVP with over 17 years of experience in software development, who will guide you through the entire process, from setting up HangFire to building and managing background jobs.
            <br /><br />
With Kevin's guidance, you'll start by exploring the fundamental concepts of background jobs and how they can improve the performance and scalability of your .NET application. You'll then dive into HangFire and learn how to set it up and configure it for your needs. You'll learn how to create and manage background jobs using the HangFire dashboard and how to schedule recurring jobs that run automatically at specified intervals.
<br /><br />
In addition to these core concepts, Kevin will also cover more advanced topics, such as handling errors that may occur during job execution, using HangFire with other .NET libraries and frameworks, and scaling background services to handle large volumes of jobs. You'll also learn best practices for building efficient and reliable background services that can help you optimize your application's performance and scalability.
<br /><br />
By the end of the course, you'll have a deep understanding of how to build background services in .NET using HangFire, and you'll be ready to apply these skills to your projects. Whether you're a seasoned .NET developer looking to take your skills to the next level, or a newcomer to the world of background services, this course has something for everyone. So why wait? Sign up now and start building efficient and reliable background services in .NET today!
        </blockquote>

        </section>
        <hr class="my-5" />
        <section>
            <h2>SignalR Mastery</h2>
            
            <div class="w-1/2">
                <iframe width="560" height="315" class="mx-auto" src="https://www.youtube-nocookie.com/embed/oqSPvW5FsYk?start=0" title="YouTube video player" frameborder="1" allow="accelerometer;clipboard-write;encrypted-media;gyroscope;picture-in-picture;web-share;" allowfullscreen></iframe>
            </div>
            <blockquote>
                SignalR is a library for .NET which allows developers to add real-time capabilities to their applications. It provides a framework for managing connections from various clients, including web pages, mobile apps, desktop applications, and more. It handles all of the grunt work.
            <br /><br />
            In this course, we'll take a structured look at how SignalR works and how you can harness it within your .NET applications.
            </blockquote>
        </section>

        
</Layout>