---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";

import KevinRockOn from "../assets/KevinSpeaking.png";

import LatestPost from "../components/LatestPost.astro";
import LatestPodcast from "../components/LatestPodcast.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Welcome"} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="w-full">
      <div class="border-b">
        <div class="container-full ">
          <section class="flex w-1/2 m-auto">
            <Image
              class="w-1/2"
              src={KevinRockOn}
              alt="Kevin Rock On"
              width="500"
            />
            <div class="w-1/2">
              <h3>Hey y'all. I'm <span class="font-bold text-highlight">Kevin</span>.</h3>
              <p>I'm a .NET guy focued on architecting, building, and maintaining solutions for small to mid-sized businesses.  I'm also a <a href="https://www.youtube.com/c/swiftkick">YouTuber</a>, the host of the <a href="https://podcast.multithreadedincome.com">Multithreaded Income Podcast</a>, organizer of Hampton Roads .NET and Hampton Roads Auzre, and the founder of RevolutionConf.</p>
              <p>I'm also a huge fan of Roller Coasters.</p>
            </div>
          </section>
        </div>
        <div class="container pt-5">
          <LatestPost />
        </div>
      <!-- <LatestPodcast /> -->
    </main>
    <Footer />
  </body>
</html>
