---

const podcastUrl = "https://feeds.transistor.fm/multithreaded-income-podcast"
const podcastFeed = await fetch(podcastUrl);
const podcastFeedXml = await podcastFeed.text();

// parse podcastFeedXml
//const parser = new DOMParser();
//const podcastFeedDoc = parser.parseFromString(podcastFeedXml, "text/xml");


//console.log(podcastFeedDoc);
---

<section>
</section>

